<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONFIG_RESOURCE</key>
	<dict>
		<key>XMLDigest</key>
		<array>
			<dict>
				<key>CONFIG_RESOURCE_BUNDLE_CLASS</key>
				<string></string>
				<key>CONFIG_RESOURCE_FILENAME</key>
				<string>hl7Digest</string>
				<key>CONFIG_RESOURCE_EXT</key>
				<string>xml</string>
			</dict>
			<dict>
				<key>CONFIG_RESOURCE_BUNDLE_CLASS</key>
				<string></string>
				<key>CONFIG_RESOURCE_FILENAME</key>
				<string>hl7SoapDigest</string>
				<key>CONFIG_RESOURCE_EXT</key>
				<string>xml</string>
			</dict>
			<dict>
				<key>CONFIG_RESOURCE_BUNDLE_CLASS</key>
				<string></string>
				<key>CONFIG_RESOURCE_FILENAME</key>
				<string>AgentDigest</string>
				<key>CONFIG_RESOURCE_EXT</key>
				<string>xml</string>
			</dict>
		</array>
	</dict>
	<key>CONFIG_PROPERTIES</key>
	<dict>
		<key>GVCCacheSize</key>
		<string>10240</string>
	</dict>
</dict>
</plist>
